<section
    class="settings-group"
    [class.settings-group--active]="activeSection() === 'general'"
    id="general"
    [formGroup]="form()"
>
    <header class="settings-group__header">
        <div class="settings-group__header-icon">
            <mat-icon svgIcon="settings"></mat-icon>
        </div>
        <div class="settings-group__header-text">
            <h3>{{ 'SETTINGS.GENERAL' | translate }}</h3>
            <p>{{ 'SETTINGS.GENERAL_SUBTITLE' | translate }}</p>
        </div>
    </header>

    <div class="setting-item">
        <div class="setting-item__meta">
            <div class="setting-item__title">
                <h4>{{ 'SETTINGS.LANGUAGE' | translate }}</h4>
                <button
                    type="button"
                    class="settings-help-button"
                    [matTooltip]="'SETTINGS.LANGUAGE_DESCRIPTION' | translate"
                    [attr.aria-label]="
                        'SETTINGS.LANGUAGE_DESCRIPTION' | translate
                    "
                    data-test-id="tooltip-language"
                >
                    <mat-icon svgIcon="info_outline"></mat-icon>
                </button>
            </div>
        </div>
        <div class="setting-item__control">
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>{{
                    'SETTINGS.VIDEO_PLAYER_PLACEHOLDER' | translate
                }}</mat-label>
                <mat-select
                    formControlName="language"
                    data-test-id="select-language"
                >
                    @for (
                        language of languageEnum() | keyvalue;
                        track language
                    ) {
                        <mat-option
                            [value]="language.value"
                            [attr.data-test-id]="language.value"
                            >{{
                                'LANGUAGES.' + language.key | translate
                            }}</mat-option
                        >
                    }
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="setting-item setting-item--full-control">
        <div class="setting-item__meta">
            <div class="setting-item__title">
                <h4>{{ 'SETTINGS.COVER_SIZE' | translate }}</h4>
                <button
                    type="button"
                    class="settings-help-button"
                    [matTooltip]="'SETTINGS.COVER_SIZE_DESCRIPTION' | translate"
                    [attr.aria-label]="
                        'SETTINGS.COVER_SIZE_DESCRIPTION' | translate
                    "
                    data-test-id="tooltip-cover-size"
                >
                    <mat-icon svgIcon="info_outline"></mat-icon>
                </button>
            </div>
        </div>
        <div class="setting-item__control">
            <div
                class="theme-switcher"
                role="radiogroup"
                [attr.aria-label]="'SETTINGS.COVER_SIZE' | translate"
                data-test-id="select-cover-size"
            >
                @for (option of coverSizeOptions(); track option.value) {
                    <button
                        type="button"
                        class="theme-switcher__option"
                        [class.theme-switcher__option--selected]="
                            form().value.coverSize === option.value
                        "
                        [attr.aria-checked]="
                            form().value.coverSize === option.value
                        "
                        [attr.data-test-id]="'cover-size-' + option.value"
                        role="radio"
                        (click)="selectCoverSize.emit(option.value)"
                    >
                        <mat-icon [svgIcon]="option.icon"></mat-icon>
                        <span>{{ option.labelKey | translate }}</span>
                    </button>
                }
            </div>
        </div>
    </div>

    <div
        class="setting-item"
        [hidden]="!showAdvanced()"
        data-test-id="mirror-layout-setting"
    >
        <div class="setting-item__meta">
            <h4>{{ 'SETTINGS.MIRROR_LAYOUT' | translate }}</h4>
            <p>{{ 'SETTINGS.MIRROR_LAYOUT_DESCRIPTION' | translate }}</p>
        </div>
        <div class="setting-item__control setting-item__toggle">
            <mat-checkbox
                [aria-label]="'SETTINGS.MIRROR_LAYOUT' | translate"
                formControlName="mirrorLayout"
                data-test-id="mirror-layout-toggle"
            ></mat-checkbox>
        </div>
    </div>

    <div class="setting-item">
        <div class="setting-item__meta">
            <div class="setting-item__title">
                <h4>{{ 'SETTINGS.STARTUP_BEHAVIOR' | translate }}</h4>
                <button
                    type="button"
                    class="settings-help-button"
                    [matTooltip]="
                        'SETTINGS.STARTUP_BEHAVIOR_DESCRIPTION' | translate
                    "
                    [attr.aria-label]="
                        'SETTINGS.STARTUP_BEHAVIOR_DESCRIPTION' | translate
                    "
                    data-test-id="tooltip-startup-behavior"
                >
                    <mat-icon svgIcon="info_outline"></mat-icon>
                </button>
            </div>
        </div>
        <div class="setting-item__control">
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>{{
                    'SETTINGS.STARTUP_BEHAVIOR' | translate
                }}</mat-label>
                <mat-select
                    formControlName="startupBehavior"
                    data-test-id="select-startup-behavior"
                >
                    @for (
                        option of startupBehaviorOptions();
                        track option.value
                    ) {
                        <mat-option
                            [value]="option.value"
                            [attr.data-test-id]="option.value"
                        >
                            {{ option.labelKey | translate }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="setting-item" [hidden]="!showAdvanced()">
        <div class="setting-item__meta">
            <h4>{{ 'SETTINGS.DEFAULT_WORKSPACE_PAGE' | translate }}</h4>
            <p>
                {{ 'SETTINGS.DEFAULT_WORKSPACE_PAGE_DESCRIPTION' | translate }}
            </p>
        </div>
        <div class="setting-item__control">
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>{{
                    'SETTINGS.DEFAULT_WORKSPACE_PAGE' | translate
                }}</mat-label>
                <mat-select
                    formControlName="defaultWorkspacePage"
                    data-test-id="select-default-workspace-page"
                >
                    @for (
                        option of defaultWorkspacePageOptions();
                        track option.value
                    ) {
                        <mat-option
                            [value]="option.value"
                            [attr.data-test-id]="option.value"
                        >
                            {{ option.labelKey | translate }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="setting-item" [hidden]="!showAdvanced()">
        <div class="setting-item__meta">
            <h4>{{ 'SETTINGS.PLAYLIST_DEFAULT_SECTION' | translate }}</h4>
            <p>
                {{
                    'SETTINGS.PLAYLIST_DEFAULT_SECTION_DESCRIPTION' | translate
                }}
            </p>
        </div>
        <div class="setting-item__control">
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>{{
                    'SETTINGS.PLAYLIST_DEFAULT_SECTION' | translate
                }}</mat-label>
                <mat-select
                    formControlName="playlistDefaultSection"
                    data-test-id="select-playlist-default-section"
                >
                    @for (
                        option of playlistDefaultSectionOptions();
                        track option.value
                    ) {
                        <mat-option
                            [value]="option.value"
                            [attr.data-test-id]="option.value"
                        >
                            {{ option.labelKey | translate }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="setting-item">
        <div class="setting-item__meta">
            <div class="setting-item__title">
                <h4>{{ 'SETTINGS.RESUME_LAST_CHANNEL' | translate }}</h4>
                <button
                    type="button"
                    class="settings-help-button"
                    [matTooltip]="
                        'SETTINGS.RESUME_LAST_CHANNEL_DESCRIPTION' | translate
                    "
                    [attr.aria-label]="
                        'SETTINGS.RESUME_LAST_CHANNEL_DESCRIPTION' | translate
                    "
                    data-test-id="tooltip-resume-last-channel"
                >
                    <mat-icon svgIcon="info_outline"></mat-icon>
                </button>
            </div>
        </div>
        <div class="setting-item__control">
            <mat-checkbox
                formControlName="resumeLastChannel"
                data-test-id="checkbox-resume-last-channel"
            ></mat-checkbox>
        </div>
    </div>

    <div class="setting-item">
        <div class="setting-item__meta">
            <div class="setting-item__title">
                <h4>{{ 'SETTINGS.SHOW_CAPTIONS' | translate }}</h4>
                <button
                    type="button"
                    class="settings-help-button"
                    [matTooltip]="
                        'SETTINGS.SHOW_CAPTIONS_DESCRIPTION' | translate
                    "
                    [attr.aria-label]="
                        'SETTINGS.SHOW_CAPTIONS_DESCRIPTION' | translate
                    "
                    data-test-id="tooltip-show-captions"
                >
                    <mat-icon svgIcon="info_outline"></mat-icon>
                </button>
            </div>
        </div>
        <div class="setting-item__control setting-item__toggle">
            <mat-checkbox formControlName="showCaptions"></mat-checkbox>
        </div>
    </div>

    <div class="setting-item" [hidden]="!showAdvanced()">
        <div class="setting-item__meta">
            <h4>{{ 'SETTINGS.STRIP_COUNTRY_PREFIX' | translate }}</h4>
            <p>
                {{ 'SETTINGS.STRIP_COUNTRY_PREFIX_DESCRIPTION' | translate }}
            </p>
        </div>
        <div class="setting-item__control setting-item__toggle">
            <mat-checkbox formControlName="stripCountryPrefix"></mat-checkbox>
        </div>
    </div>

    <div class="setting-item" [hidden]="!showAdvanced()">
        <div class="setting-item__meta">
            <h4>{{ 'SETTINGS.HIDE_SPANISH_CHANNELS' | translate }}</h4>
            <p>
                {{ 'SETTINGS.HIDE_SPANISH_CHANNELS_DESCRIPTION' | translate }}
            </p>
        </div>
        <div class="setting-item__control setting-item__toggle">
            <mat-checkbox formControlName="hideSpanishChannels"></mat-checkbox>
        </div>
    </div>

    <div class="setting-item" [hidden]="!showAdvanced()">
        <div class="setting-item__meta">
            <h4>{{ 'SETTINGS.HIDE_NON_US_CHANNELS' | translate }}</h4>
            <p>
                {{ 'SETTINGS.HIDE_NON_US_CHANNELS_DESCRIPTION' | translate }}
            </p>
        </div>
        <div class="setting-item__control setting-item__toggle">
            <mat-checkbox formControlName="hideNonUsChannels"></mat-checkbox>
        </div>
    </div>

    <div class="setting-item" [hidden]="!showAdvanced()">
        <div class="setting-item__meta">
            <h4>{{ 'SETTINGS.HIDE_RELIGIOUS_CHANNELS' | translate }}</h4>
            <p>
                {{ 'SETTINGS.HIDE_RELIGIOUS_CHANNELS_DESCRIPTION' | translate }}
            </p>
        </div>
        <div class="setting-item__control setting-item__toggle">
            <mat-checkbox formControlName="hideReligiousChannels"></mat-checkbox>
        </div>
    </div>

    <div class="setting-item" [hidden]="!showAdvanced()">
        <div class="setting-item__meta">
            <h4>{{ 'SETTINGS.LOCAL_NEWS_ONLY' | translate }}</h4>
            <p>
                {{ 'SETTINGS.LOCAL_NEWS_ONLY_DESCRIPTION' | translate }}
            </p>
        </div>
        <div class="setting-item__control setting-item__toggle">
            <mat-checkbox formControlName="localNewsOnly"></mat-checkbox>
        </div>
    </div>

    <div class="setting-item" [hidden]="!showAdvanced()">
        <div class="setting-item__meta">
            <h4>{{ 'SETTINGS.HOME_COUNTRY' | translate }}</h4>
            <p>
                {{ 'SETTINGS.HOME_COUNTRY_DESCRIPTION' | translate }}
            </p>
        </div>
        <div class="setting-item__control">
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>
                    {{ 'SETTINGS.HOME_COUNTRY' | translate }}
                </mat-label>
                <input
                    matInput
                    formControlName="homeCountryCode"
                    maxlength="2"
                    autocomplete="country"
                    placeholder="us"
                />
            </mat-form-field>
        </div>
    </div>
</section>
